<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<<div>
    <label for="startDate">Дата начала:</label>
    <input type="date" id="startDate" required>

    <label for="endDate">Дата окончания:</label>
    <input type="date" id="endDate" required>

    <button class="btn btn-primary" type="button" th:onclick="bookProperty(${id}, document.getElementById('startDate').value, document.getElementById('endDate').value)">Забронировать</button>
</div>
</div>
</body>
</html>