<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<div th:each="el : ${property}" class="alert alert-info mt-2">
    <form th:action="'/list/' + ${property.id} + '/booking_form'" method="post">
        <label for="startDate">Дата начала:</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="endDate">Дата окончания:</label>
        <input type="date" id="endDate" name="endDate" required>

        <button type="submit">Забронировать</button>
    </form>
</div>
</body>
</html>