<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<div th:each="el : ${property}" class="alert alert-info mt-2">
    <form th:action="@{/list/{id}/booking_form(id=${el.getId()})}" method="POST">
        <label for="startDate">Дата начала:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" required>
        <label for="endDate">Дата окончания:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" required>

        <button type="submit">Забронировать</button>
    </form>
</div>
</body>
</html>