<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка!</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Произошла ошибка, попробуйте вернуться к списку.</h1>
    <h2 style="text-align: center;">Примечание: если вы не зашли в учётную запись, то</h2>
    <h2 style="text-align: center;">при переходе на список, откроется форма аутентификации.</h2>
    <form action="/list" method="get">
        <button class="btn btn-secondary" type="submit">Список</button>
    </form>
</body>
</html>