<!DOCTYPE html>
<html>
<head>
    <title>Список недвижимости</title>
    <style>
        body {
            text-align: center; /* Center the content */
        }
        table {
            margin: 0 auto; /* Center the table */
            border-collapse: collapse;
            margin-top: 7rem;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<div th:each="el : ${property}" class="alert alert-info mt-2">
    <h1 th:text="${el.full_text}"></h1>
    <a th:href="'/list/' + ${el.id} + '/book'">Забронировать</a>
    <a th:href="'/list/' + ${el.id} + '/remove'">Удалить</a>
</div>
</body>
</html>